In [355]:
import pandas as pd
import numpy as np
import copy

In [639]:
en1 = pd.read_csv('ensemble/ensemble1.csv')
en2 = pd.read_csv('ensemble/ensemble2.csv')
en3 = pd.read_csv('ensemble/ensemble3.csv')
en4 = pd.read_csv('ensemble/ensemble5.csv')
en5 = pd.read_csv('ensemble/ensemble7.csv')
en6 = pd.read_csv('ensemble/ensemble9.csv')
# en2 = pd.read_csv('ensemble/ensemble5.csv')
df1 = pd.read_csv('model/lstmattn_0.8116.csv')
df2 = pd.read_csv('model/tabnet_0.8012.csv')
df3 = pd.read_csv('model/ugcn_0.7846.csv')
df4 = pd.read_csv('model/lgbm_0.7886.csv')
df5 = pd.read_csv('model/lstmattn_0.8101.csv')
df6 = pd.read_csv('model/lstmattn_0.8077.csv')
df7 = pd.read_csv('model/tabnet_0.7979.csv')
df8 = pd.read_csv('model/lstmattn_0.8028.csv')
df9 = pd.read_csv('model/lstmattn_0.8019.csv')
df10 = pd.read_csv('model/lstmattn_0.8002.csv')
df11 = pd.read_csv('model/tabnet_0.7996.csv')
df12 = pd.read_csv('../ultragcn/neg50/inference_withvalid_1024_5_lambda10.csv')
df13 = pd.read_csv('../ultragcn/neg100not50/inference_withvalid_1024_5_lambda10.csv')
df14 = pd.read_csv('../ultragcn/withoutvalid/inference_withvalid_1024_5_lambda10.csv')
df15 = pd.read_csv('../ultragcn/withvalid/inference_withvalid_1024_5_lambda10.csv')
df16 = pd.read_csv('../ultragcn/inference_withvalid_1024_8_lambda10.csv')
df17 = pd.read_csv('model/ugcn_0.7905.csv')
df18 = pd.read_csv('model/ugcn_0.7408.csv')
df19 = pd.read_csv('model/submission_vpji6pht.csv')
df20 = pd.read_csv('model/submission_c0d5gejs.csv')
# df12 = pd.read_csv('../ultragcn/inference_withvalid_1024_1_lambda10.csv')
# df13 = pd.read_csv('../ultragcn/inference_withvalid_1024_2_lambda10.csv')
# df14 = pd.read_csv('../ultragcn/inference_withvalid_1024_3_lambda10.csv')
# df15 = pd.read_csv('../ultragcn/inference_withvalid_1024_6_lambda10.csv')
# df16 = pd.read_csv('../ultragcn/inference_withvalid_1024_5_lambda10.csv')
# df14 = pd.read_csv('../ultragcn/neg100not50/inference_withvalid_1024_10_lambda10.csv')
# df15 = pd.read_csv('model/hand_atten.csv')
for k,df in enumerate([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20]):
    df['rank']=df['prediction'].rank(axis=0, method='average',na_option='keep')
for k,df in enumerate([en1,en2,en3,en4,en5,en6]):
    df['rank']=df['prediction'].rank(axis=0, method='average',na_option='keep')

In [640]:
# 0.8083
ans = []
num=2
answer2=[]
cnt3=[]
cnt=[[0 for i in range(10)] for j in range(10)]
for i in range(len(df1)):
    c=0
    answer=[]
    # for j,dfj in enumerate([df1,df3,df16,df17,df18,en1,en3,en4,en5,en6]):
    for j,dfj in enumerate([df1,df2,df17,df4,df5,en1,en3,en4,df19,df16]):
        ans=[]
        rankj=dfj['rank'][i]
        cnt2=[]
        for k,dfk in enumerate([df1,df2,df17,df4,df5,en1,en3,en4,df19,df16]):
        # for k,dfk in enumerate([df1,df3,df16,df17,df18,en1,en3,en4,en5,en6]):
            rankk = dfk['rank'][i]
            tmp=[rankj,rankk]
            ma = np.max(tmp)
            mi = np.min(tmp)
            tmp2=ma-mi
            if (ma-mi)>100:
                cnt[j][k]=cnt[j][k]+1
            ans.append(tmp2)
        answer.append(ans)
        # cnt3.append(cnt)
    answer2.append(answer)
    # for k,df in enumerate([en1,en2]):
    #     rank = df['rank'][i]
    #     tmp.append(rank)
    # ma = np.max(tmp)
    # mi = np.min(tmp)
    # tmp2= ma-mi
    # ans.append(tmp2)
average = np.mean(answer2,axis=0)
cnt4 = np.sum(cnt3,axis=0)

In [641]:
average.round()

array([[  0.,  72.,  96.,  73.,  34.,  45.,  55.,  43.,  78., 106.],
       [ 72.,   0.,  87.,  40.,  75.,  61.,  30.,  41.,  72., 102.],
       [ 96.,  87.,   0.,  84.,  99.,  75.,  76.,  75.,  97.,  83.],
       [ 73.,  40.,  84.,   0.,  77.,  58.,  29.,  40.,  69.,  98.],
       [ 34.,  75.,  99.,  77.,   0.,  58.,  64.,  46.,  83., 110.],
       [ 45.,  61.,  75.,  58.,  58.,   0.,  42.,  36.,  70.,  95.],
       [ 55.,  30.,  76.,  29.,  64.,  42.,   0.,  28.,  66.,  93.],
       [ 43.,  41.,  75.,  40.,  46.,  36.,  28.,   0.,  60.,  93.],
       [ 78.,  72.,  97.,  69.,  83.,  70.,  66.,  60.,   0., 103.],
       [106., 102.,  83.,  98., 110.,  95.,  93.,  93., 103.,   0.]])

In [636]:
# 100이상 차이나는 값 갯수
cnt

[[0, 189, 288, 194, 27, 107, 134, 67, 223, 322],
 [189, 0, 256, 52, 210, 138, 34, 55, 192, 294],
 [288, 256, 0, 234, 307, 207, 198, 210, 288, 222],
 [194, 52, 234, 0, 202, 134, 40, 58, 184, 273],
 [27, 210, 307, 202, 0, 119, 152, 83, 236, 333],
 [107, 138, 207, 134, 119, 0, 74, 30, 189, 268],
 [134, 34, 198, 40, 152, 74, 0, 11, 170, 268],
 [67, 55, 210, 58, 83, 30, 11, 0, 142, 267],
 [223, 192, 288, 184, 236, 189, 170, 142, 0, 309],
 [322, 294, 222, 273, 333, 268, 268, 267, 309, 0]]

In [501]:
ans = []
num=2
answer=[]
for i in range(len(df1)):
    c=0
    tmp = []
    ans=[]
    for k,df in enumerate([df1,df3]):
        rank = df['rank'][i]
        tmp.append(rank)
    ma = np.max(tmp)
    mi = np.min(tmp)
    tmp2= ma-mi
    ans.append(tmp2)
average = np.mean(ans)
average

160.0

In [502]:
test = df5[df5.prediction > 0.5]

In [203]:
test

      id  prediction   rank
0      0    0.775667  599.0
1      1    0.914714  732.0
3      3    0.853081  679.0
5      5    0.812553  635.0
9      9    0.861010  684.0
..   ...         ...    ...
734  734    0.515646  405.0
740  740    0.692840  522.0
741  741    0.663318  499.0
742  742    0.594499  455.0
743  743    0.734824  562.0

[353 rows x 3 columns]

In [267]:
newdf=df1

In [268]:
newdf['newrank']=df1['rank']-df15['rank']
newdf['prediction2']=df15['prediction']

In [269]:
newdf2=newdf[newdf.prediction > 0.5][newdf.prediction2<0.5]

/tmp/ipykernel_29708/499889298.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  newdf2=newdf[newdf.prediction > 0.5][newdf.prediction2<0.5]

In [270]:
newdf3=newdf[newdf.prediction < 0.4][newdf.prediction2>0.7]

/tmp/ipykernel_29708/760583148.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  newdf3=newdf[newdf.prediction < 0.4][newdf.prediction2>0.7]

In [271]:
newdf2

      id  prediction   rank  newrank  prediction2
0      0    0.792620  579.0    352.0          0.0
14    14    0.774597  555.0    328.0          0.0
20    20    0.923619  728.0    501.0          0.0
22    22    0.579413  396.0    169.0          0.0
28    28    0.611465  417.0    190.0          0.0
..   ...         ...    ...      ...          ...
732  732    0.710258  487.0    260.0          0.0
734  734    0.649798  444.0    217.0          0.0
740  740    0.755666  529.0    302.0          0.0
741  741    0.834264  622.0    395.0          0.0
742  742    0.765406  544.0    317.0          0.0

[161 rows x 5 columns]

In [272]:
newdf3

      id  prediction   rank  newrank  prediction2
11    11    0.382978  288.0   -199.5          0.9
54    54    0.221127  193.0   -294.5          0.9
68    68    0.312693  245.0   -242.5          0.9
78    78    0.392702  293.0   -194.5          0.9
131  131    0.353326  273.0   -214.5          0.9
155  155    0.329350  260.0   -227.5          0.9
169  169    0.338444  263.0   -370.0          1.0
189  189    0.205993  180.0   -453.0          1.0
212  212    0.185562  151.0   -482.0          1.0
227  227    0.146184  129.0   -504.0          1.0
228  228    0.378518  286.0   -201.5          0.9
229  229    0.134234  116.0   -371.5          0.9
241  241    0.326946  257.0   -230.5          0.9
294  294    0.398931  299.0   -334.0          1.0
301  301    0.184438  149.0   -338.5          0.9
332  332    0.316842  247.0   -386.0          1.0
344  344    0.355371  275.0   -358.0          1.0
351  351    0.328411  259.0   -374.0          1.0
352  352    0.199526  169.0   -464.0          1.0
384  384    0.200931  170.0   -317.5          0.9
390  390    0.327086  258.0   -229.5          0.9
429  429    0.398293  297.0   -336.0          1.0
441  441    0.240476  206.0   -281.5          0.9
452  452    0.199330  168.0   -465.0          1.0
473  473    0.233222  204.0   -429.0          1.0
490  490    0.133551  115.0   -372.5          0.9
497  497    0.292067  237.0   -396.0          1.0
533  533    0.344045  271.0   -216.5          0.9
587  587    0.225147  197.0   -290.5          0.9
608  608    0.285956  233.0   -400.0          1.0
626  626    0.318731  248.0   -385.0          1.0
667  667    0.398168  296.0   -337.0          1.0
713  713    0.319960  252.0   -381.0          1.0
720  720    0.361081  277.0   -210.5          0.9

In [273]:
newdf3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 11 to 720
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           34 non-null     int64
 1   prediction   34 non-null     float64
 2   rank         34 non-null     float64
 3   newrank      34 non-null     float64
 4   prediction2  34 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 1.6 KB

In [293]:
a=np.array([[[1,2],[3,4]],[[100,6],[7,8]]])

In [294]:
a.mean(axis=0)

array([[50.5,  4. ],
       [ 5. ,  6. ]])

In [466]:
for i in range(10):
    counterFunc= (df['prediction'] >= i/10 and df['prediction'] < (i+1)/10)
    cnt= df[counterFunc]
    print(cnt)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().